*{
    margin: 0;
    padding: 0;
}

body{
    /*
    min-height: 320px;
    max-width: 480px;
    */
    min-height: 100dvh;
    margin: 0 auto;
}
/*===HEADER===*/
header{
    background-color: whitesmoke;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
}

.header-logo{
    margin: auto 0;
    
}
.logo,
.title{
    display:inline;
}

.logo{
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: 5px;
    border: 2px solid black;
    border-radius: 50%;
}

.title{
    font-size: 0.8rem;
}

.header-link{
    margin: auto 0;
    margin-left: auto;
}

.header-link a{
    margin-right: 5px;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    font-weight: 550;
}
/*=== ===*/
/*===MAIN BLOG===*/
.main-blog{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: end;
    background-image: url('images/houseFullPlant.webp');
    background-size: cover;
    color: white;
    cursor: pointer;
}

.main-blog div{
    padding: 0 10px 10px 15px;
}

.main-blog h3,
.blog h3{
    font-size: 0.65rem;
    color: lightgray;
    margin-bottom: 0.5em;
}

.main-blog h2{
    font-size: 2.5rem;
    margin-bottom: 0.25em;
}

.main-blog p{
    font-size: 1rem;
    font-weight: 200;
}
/*=== ===*/
/*=== BLOG ===*/
.container{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.blog{
    display: flex;
    flex-direction: column;
}

.blog img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: top;
    border-radius: 4px;
}

.blog h3{
    text-align: left;
    margin-top: 10px;
}

.blog h3,
.blog h2,
.blog p{
    padding: 0 15px;
}

.blog button{
    width: 100%;
    margin-top: 5px;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid darkgray;
    border-radius: 3px;
}
/*=== ===*/

/*=== VIEW MORE BTN ===*/
.load-more{
    display: block;
    background: none;
    font-size: 1rem;
    margin: 0.5em auto 0.5em auto;
    border: none;
    border-bottom: 2px solid black;
}
/*=== ===*/
/*=== FOOTER ===*/

footer{
    background-color: darkslategray;
    text-align: center;
    color: whitesmoke;
    padding: 15px;
    margin: auto 0;
}

footer h3{
    font-size: 0.75rem;
}

footer h4{
    font-size: 0.65rem;
    font-weight: lighter;
}

/*=== ===*/

/*=== MEDIA LARGER SCREEN ===*/

@media(min-width:480px){
    body{
        width: 100%;
    }

    header{
        padding: 1.75em 2em;
    }

    .logo{
        font-size: 1.5rem;
    }

    .title{
        font-size: 1.5rem;
    }

    .header-link{
        display: flex;
        gap: 50px;
    }

    .header-link a{
        font-size: 1.2rem;
        font-weight: lighter;
    }

    .main-blog{
        height: 400px;
        background-image: url(images/houseFullPlant.webp);
        text-shadow: 0 0 4px black;
    }

    .main-blog div{
       padding-bottom: 25px;
    }

    .main-blog h2{
        font-size: 3rem;
    }

    .main-blog p{
        width: 60%;
        color: whitesmoke;
    }

    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
    }

    .blog{
        flex-basis: 33%;
        flex-grow: 1;
    }

}

@media(min-width:768px){
    body{
        width: 99%;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .blog{
        grid-column: 1fr;
    }
}

@media(min-width:1280px){
    body{
        width: 70%;
    }

    .main-blog{
        background-position: center;
    }
  
  
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }

    .blog{
        grid-column: 1fr;
    }
}