*{
    margin: 0;
    padding: 0;
}

body{
    width: 480px;
    min-height: 100dvh;
    margin: 0 auto;
}
/*===HEADER===*/
header{
    background-color: whitesmoke;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
}

.logo,
.title{
    display:inline;
}

.logo{
    font-size: 1.5rem;
    color: white;
    background-color: black;
    padding: 5px;
    border: 2px solid black;
    border-radius: 50%;
}

.title{
    font-size: 1.2rem;
}

.header-link{
    margin: auto 0;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.header-link a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 550;
}
/*=== ===*/
/*===MAIN BLOG===*/
.focus-blog{
    width: 100%;
    background-image: url('images/offthegridoffice-1-1920x1080.jpg');
    color: white;
}

.focus-blog h3{
    padding-top: 35px;
}
/*=== ===*/
.container{
    width: 100%;
    height: 250px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.blog{
    background-color: red;
    width: 100vdh;
    

}

@media(min-width:768px){
    .focus-blog{
        background-color: blue;
    }
}